<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/resumable.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        @Html.ActionLink("Upload", "index", "upload", null, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
        </button>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
                    <li class="nav-item active">
                        @Html.ActionLink("Logout", "logout", "auth", null, new { @class = "nav-link" })
                    </li>
                </ul>
            </div>
        }
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
</body>
</html>
